<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="with-device-with" />
    @model IEnumerable<ContaConmigo.Model.RequestDonor>

    @{
        ViewBag.Title = "Listado de Solicitudes de Donantes";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
</head>
<body>
    <h2>Listado de Solicitudes de Donantes</h2>

    <p>
        @Html.ActionLink("Crear Nueva Solicitud", "AgregarSolicitud")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvinceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last_Date_Replacement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountDonor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupFactorBloodId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @item.Birthday.ToShortDateString()
                </td>
                <td>
                    @ViewBag.ProvinceDescription
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.CityName)
                </td>
                <td>
                    @item.Last_Date_Replacement.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountDonor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Institution.InstitutionDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupFactorDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @Html.ActionLink("+ Info", "Detalle", new { id = item.RequestDonorId })
                    @Html.ActionLink("Editar", "EditarSolicitud", new { id = item.RequestDonorId })
                    @Html.ActionLink("Eliminar", "EliminarSolicitud", new { id = item.RequestDonorId }, new { @class = "aElimina" })
                </td>
            </tr>
        }

    </table>
    @section scripts{
        <script>
            $(".aElimina").click(function (event) {
                if (!confirm('Está seguro de eliminar la solicitud?')) {
                    event.preventDefault();
                }
            });
        </script>
    }
</body>
</html>
