@model ContaConmigo.Model.Donor

<div>
    <h4>Donor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompletoDon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompletoDon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinceDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Date_Blood_Extract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Date_Blood_Extract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroupFactorId)
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupFactorBlood.GroupFactorDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarDonante", new {@class="btn btn-primary", id = Model.DonorId }) |
    @Html.ActionLink("Volver al listado", "ListadoDonantes")
</p>
