
@model IEnumerable<ContaConmigo.ViewModel.CityViewModel>

@{
    ViewBag.Title = "Detalle Donante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Información Donante</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DonorsVM.NombreCompletoDon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.First().DonorsVM.NombreCompletoDon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProvincesVM.ProvinceDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.First().ProvincesVM.ProvinceDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CitiesVM.CityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.First().CitiesVM.CityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GroupFactorBloodVM.GroupFactorDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.First().GroupFactorBloodVM.GroupFactorDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonorsVM.Last_Date_Blood_Extract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.First().DonorsVM.Last_Date_Blood_Extract)
        </dd>
    </dl>
</div>
<p>
    <div class="row" align="right">
        <div class="col-md-12">
            @Html.ActionLink("Editar", "EditarDonante", new { id = Model.First().DonorsVM.DonorId})
            @Html.ActionLink("Volver", "ListadoDonantes")
        </div>
    </div>
</p>
