@*@model ContaConmigo.Model.Donor*@
@model IEnumerable<ContaConmigo.ViewModel.CityViewModel>

<div>
    <h4>Detalle Donante</h4>
    <hr />
    <dl class="dl-horizontal">


                <td>Nombre Completo</td>
                <td>Provincia</td>
                <td>Ciudad</td>
                <td>Grupo/Factor Sanguíneo</td>
                <td>Ultima Fecha Donación</td>


            @foreach (var item in Model)
            {

                <td>@item.DonorsVM.NombreCompletoDon</td>
                <td>@item.ProvincesVM.ProvinceDescription</td>
                <td>@item.CitiesVM.CityName</td>
                <td>@item.GroupFactorBloodVM.GroupFactorDescription</td>
                <td>@item.DonorsVM.Last_Date_Blood_Extract</td>
                @Html.ActionLink("Editar", "EditarDonante", new { @class = "btn btn-primary", id = item.DonorsVM.DonorId })

            }

    </dl>
</div>
<p>
    @Html.ActionLink("Volver al listado", "ListadoDonantes")
</p>
