@model IEnumerable<ContaConmigo.ViewModel.CityViewModel>
@{
    /**/

    ViewBag.Title = "Listado de Donantes disponibles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Listado de Donantes</h2>

<p>
    @Html.ActionLink("Nuevo Donante", "AgregarDonante")
</p>
<table class="table">
    <tr>
        <td>Nombre Completo</td>
        <td>Provincia</td>
        <td>Ciudad</td>
        <td>Grupo/Factor Sanguíneo</td>
        <td>Ultima Fecha Donación</td>
        <td>Acciones</td>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.DonorsVM.NombreCompletoDon</td>
        <td>@item.ProvincesVM.ProvinceDescription</td>
        <td>@item.CitiesVM.CityName</td>
        <td>@item.GroupFactorBloodVM.GroupFactorDescription</td>
        <td>@item.DonorsVM.Last_Date_Blood_Extract</td>
        <td>
            @Html.ActionLink("Editar", "EditarDonante", new { id = item.DonorsVM.DonorId }) |
            @Html.ActionLink("+Info", "Detail", new { id = item.DonorsVM.DonorId }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.DonorsVM.DonorId }, new { @class = "aElimina" })
        </td>
    </tr>       
    }
</table>
<td>@Html.ActionLink("Volver", "Index")</td>
@section scripts{
    <script>
        $(".aElimina").click(function (event) {
            if (!confirm('Está seguro de eliminar la solicitud?')) {
                event.preventDefault();
            }
        });
    </script>
}